name: Build APK

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Free space
      run: |
        sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc
        df -h
    
    - name: Setup
      run: |
        sudo apt-get update
        sudo apt-get install -y openjdk-11-jdk build-essential git zip unzip
        pip3 install --upgrade pip
        pip3 install buildozer cython==0.29.33
        echo "JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64" >> $GITHUB_ENV
    
    - name: Cache
      uses: actions/cache@v4
      with:
        path: .buildozer
        key: buildozer-${{ hashFiles('buildozer.spec') }}
    
    - name: Build
      run: buildozer android debug
    
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*.apk